<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="true">
    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <logger name="com.payex.vas" level="DEBUG"/>
    <logger name="org.hibernate.ejb.HibernatePersistence" level="OFF"/>
    <logger name="org.apache.catalina.startup.DigesterFactory" level="OFF"/>
    <logger name="org.hibernate.tool.hbm2ddl.SchemaExport" level="OFF"/>
    <logger name="org.hibernate.internal.util.xml" level="OFF"/>
    <logger name="org.hibernate.orm.deprecation" level="OFF"/>
    <root level="WARN">
        <appender-ref ref="CONSOLE"/>
    </root>

</configuration>
